.headerWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #999;
  align-items: center;
}

.navigationLinks {
  display: flex;
  flex-direction: row-reverse;
}

.linkWrapper {
  margin-right: 1em;
}

.logoWrapper {
  margin-left: 1em;
}
.logo {
  text-decoration: none;
}
